<p id= "footer" class="footer">"En utilisant notre site, vous acceptez notre politique de confidentialité et l'utilisation de cookies pour améliorer votre expérience de navigation."</p>
<p id= "footer" class="footer">© Copyright 2022 Groupe 16</p>
