
    
    
    <img class="logo" src="/static/IMAGES/bump-logo.png" alt="logo">
   <a href="/"><h1>BUMP</h1></a>
    <nav>
        <ul class="nav_links" method="get">
            <li><a  href="/clothes/homme"> Homme</a></li>
            <li><a  href="/clothes/femme"> Femme</a></li>
            <li><a  href="/clothes/enfants"> Enfants </a></li>
            <li><a  href="/clothes"> Accessoires </a></li>
        </ul>
    </nav>
    
    <!--<input type="text" maxlength="100" placeholder="Rechercher" class="searchbar" />--> 
    <a class="cta" >
        <a href="panier"><img class="logo" href="panier" id="panier" src="/static/IMAGES/outil-commercial-de-panier-dachat.png" alt="logo"></a>
        <a href="vente">Vendre</a>
        <div class="container-profil">
            <a href="login"><button><%= username%></button></a>
            <p id="credit"><%= credits%></p>
        </div>
        
        
    </a>
