
    <img class="logo" src="/static/IMAGES/map.png" alt="logo">
   <h1>BUMP</h1>
    <nav>
        <ul class="nav_links" >
            <li><a href=""> Homme</a></li>
            <li><a href=""> Femme</a></li>
            <li><a href=""> Enfants </a></li>
            <li><a href=""> Accessoires </a></li>
        </ul>
    </nav>
    
    <!--<input type="text" maxlength="100" placeholder="Rechercher" class="searchbar" />--> 
    <a class="cta" >
        <a href="panier"><img class="logo" href="panier" id="panier" src="/static/IMAGES/outil-commercial-de-panier-dachat.png" alt="logo"></a>
        <a href="login"><button>Se connecter</button></a>
    </a>
