.container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left:60px;
}


.grid-object{
  padding: 20px;
  font-size: 30px;
  
  
}

.grid-object img{
  width: 250px;
  height: 250px;
}

.grid-object p{
    font-size: 15px;
}

.grid-object h3{
    font-size: 20px;
    color: #0088a9;
}

.grid-object h2{
    font-size: 20px;

}

.grid-object a {
    color: #0088a9;
    text-decoration: none;
    font-size: 15px;
}

form{
  padding: 20px;
  font-size: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

form input{
  margin: 10px;
  padding: 10px;
  border: 1px solid #0088a9;
  border-radius: 5px;
  font-size: 20px;
}

form select{
  margin: 10px;
  padding: 10px;
  border: 1px solid #0088a9;
  border-radius: 5px;
  font-size: 12px;
}

form label{
  font-size: 18px;
}


/* SIDEBAR */

.sidebar{
  height:100%;
  width:200px;
  background-color:#fff;
  position:fixed;
  border-right: thick solid #0088a9;
  overflow:auto}


.bar-block .bar-item{
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:normal;
  outline:0;
  font-size: 16px;
}

.bar-item-color{
  width:100%;
  display:block;
  padding:0px;
  text-align:left;
  border:none;
  white-space:normal;
}

.xlarge{font-size:20px
}

#close_sidebar{
  background-color: #FFFFFF;
  border: 0px ;
  padding : 10px;
  font-size: 20px;
  color: #0088a9;
  text-align: right;
  padding-bottom: 20px;
}

.button-filtre{
  padding: 20px;
  background-color:#fff;
  color:#000;
  border: 0px;
}


#logo_sidebar {
  width: 20px;
  height: 20px;
  transition: transform 0.5s;

}
