

.container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left:60px;
}


.grid-object{
  padding: 20px;
  font-size: 30px;
  
  
}

.grid-object img{
  width: 250px;
  height: 250px;
}

.grid-object p{
    font-size: 15px;
}

.grid-object h3{
    font-size: 20px;
    color: #0088a9;
}

.grid-object h2{
    font-size: 20px;

}

.sidebar{
  height:100%;
  width:200px;
  background-color:#fff;
  position:fixed;
  z-index:1;
  border-right: thick solid #0088a9;
  overflow:auto}


.bar-block .bar-item{
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
  font-size: 16px;
}

.bar-item-color{
  width:100%;
  display:block;
  padding:0px;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;
}

.xlarge{font-size:20px
}

#close_sidebar{
  background-color: #FFFFFF;
  border: 0px ;
  padding : 10px;
  font-size: 20px;
  color: #0088a9;
  text-align: right;
  padding-bottom: 20px;
}

.button-filtre{
  padding: 20px;
  background-color:#fff;
  color:#000;
  border: 0px;
}


#logo_sidebar {
  width: 20px;
  height: 20px;
  transition: transform 0.5s;

}