.container{
    padding: 20px;
    padding-right: 50px;
}

.containerBox{
    margin-top: 50px;
}

.containerBoxNav{
    display: flex;
    justify-content: center;
}

.containerBoxNav h2{
    margin: 0;
    font-size: 30px;
}

.containerBoxNav img{
    height: 40px;
    width: 40px;
    padding-left: 12px;
    padding-top: 0px;

}

.containerBoxClothes{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  
  .grid-object{
    padding: 20px;
    font-size: 30px;
  }
  
  .grid-object img{
    width: 250px;
    height: 250px;
  }
  
  .grid-object p{
      font-size: 15px;
  }
  
  .grid-object h3{
      font-size: 20px;
      color: #0088a9;
  }
  
  .grid-object h2{
      font-size: 20px;
  
  }
  
  .grid-object a {
      color: #0088a9;
      text-decoration: none;
      font-size: 15px;
  }