.photo_profil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.containerInfo{
    margin-left: 305px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
    width: 1000px;
    align-items:center;
    justify-content: center;
    background : whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 50px;
}


.containerModif{
    margin-left: 10px;
    margin-right: 305px;
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
    width: 300px;
    align-items:center;
    justify-content: center;
    background : whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 50px;
}

.containerMesVentes{
    margin-left: 305px;
    margin-right: 305px;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    width: 1310px;
    align-items:center;
    justify-content: center;
    background : whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 50px;
}



.alignement{
    display:flex;
}

.info{
    margin-left: 80px;
    margin-top: 10px;
}

.data h2{
    margin-bottom: 12px;
}

.width_data h2{
    color: #0088a9;
}