*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2d2e33;
}

header li,header  a, header button {
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header h1{
    color: #0088a9;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

/* TAILLE DU LOGO */
.logo{
    height: 100px;
    width: 100px;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

/* EFFET POUR CHANGER LA COULEURE */
.nav_links li a {
    transition: all 0.3s ease 0s;
}

/* APPLICATION DE LA COULEUR LORSQUE LA SOURIS SURVOLE LES a */
.nav_links li a:hover{
    color: #0088a9;
}

.searchbar{
    padding : 9px 25px;
    background-color: white;
    border-radius: 50px;

}

header button{
    padding: 9px 25px;
    background-color: rgb(0, 136, 169,1);
    border : none;
    border-radius: 50px;
    cursor : pointer;
    transition: all 0.3s ease 0s;
}


header button:hover{
    background-color: rgba(0, 136, 169,0.8);
}

/*-------------------------*/
/* IDENTIFICATION PAGE CSS */
/*-------------------------*/

.container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background : whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 50px;
}

.container .form{
 padding: 0;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content : ' ';
    position :absolute;
    left : 0;
    bottom : 0;
    height: 3px;
    width: 50px;
    background-color: #0088a9;
    border-radius : 25px;
}

form .input-field{
    margin-top: 30px;

}

.input-field input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    background: transparent;
}

.input-field input:hover{
    border-bottom: 2px solid #0088a9;
}

.input-field i{
    position : absolute;

}

.form .button{
    margin-top: 35px;
}

.form .button input{
    margin-top: 35px;
}

.input-field button{
    padding: 9px 25px;
    background-color: rgb(0, 136, 169,1);
    border : none;
    border-radius: 50px;
    cursor : pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.input-field button:hover{
    background-color: rgba(0, 136, 169,0.8);
}

.login-signup{
    padding: 30px 25px;
}