<!doctype html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/static/css/clothesAll.css">
  <title>Acheter vos habits</title>
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div data-simplebar id="demo">
      test simplebar

    </div>
    
    <div class="container">
      <div class="grid-object">
        <img src="/static/IMAGES/vetements.webp" alt="photo">
        <h2>Nom du vêtements</h2>
        <h3>Vendeur</h3>
        <p>Prix</p>
      </div>

      <div class="grid-object">
        <img src="/static/IMAGES/vetements.webp" alt="photo">
        <h2>Nom du vêtements</h2>
        <h3>Vendeur</h3>
        <p>Prix</p>
      </div>
        <div class="grid-object">
          <img src="/static/IMAGES/vetements.webp" alt="photo">
          <h2>Nom du vêtements</h2>
          <h3>Vendeur</h3>
          <p>Prix</p>
        </div>

        <div class="grid-object">
          <img src="/static/IMAGES/vetements.webp" alt="photo">
          <h2>Nom du vêtements</h2>
          <h3>Vendeur</h3>
          <p>Prix</p>
        </div>

        <div class="grid-object">
          <img src="/static/IMAGES/vetements.webp" alt="photo">
          <h2>Nom du vêtements</h2>
          <h3>Vendeur</h3>
          <p>Prix</p>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
