<!doctype html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <title>Acheter vos habits</title>
  <link rel="stylesheet" href="../static/CSS/nav.css" />
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>

  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
