<!doctype html>
<html lang="fr">
<link rel="stylesheet" type="text/css" href="/static/CSS/mainPage.css" />
<head>
  <%- include('../partials/head'); %>
  <title>Page principale</title>
  
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
    <h2>Les derniers articles</h2>
    <div class="aligner">
    <div class="containerArticles">article</div>
    <a href="vetements"><div class="arrow-right"></div></a>
    </div>
    <h2>Notifications</h2>
    <div class="aligner">
    <div class="containerArticles">article</div>
    <a href="vetements"><div class="arrow-right"></div></a>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
