<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/CSS/nav.css" />
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <title>Votre compte</title>
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="containerInfo">
      <div class="alignement">
        <img class="photo_profil" src="/static/IMAGES/image femme.jpeg" alt="photo de profil"\>
        <div class="info">
          <div class="data">
            <h2>Nom d'utilisateur:</h2>
          </div>
          <div class="data">
            <h2>Prénom:</h2>
          </div>
          <div class="data">
            <h2>Nom:</h2>
          </div>
          <div class="data">
            <h2>Email:</h2>
          </div>
          <div class="data">
            <h2>Localisation:</h2>
          </div>
          <div class="data">
            <h2>Crédits:</h2>
          </div>
        </div>
        <div class="info">
          <div class="data">
            <p>Tiranodub</p>
          </div>
          <div class="data">
            <p>Mélanie</p>
          </div>
          <div class="data">
            <p>Davidou</p>
          </div>
          <div class="data">
            <p>mel.davidou@gmail.com</p>
          </div>
          <div class="data">
            <p>6 Rue des Grands Oiseaux 1234 Mons</p>
          </div>
          <div class="data">
            <p>150</p>
          </div>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
