<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/CSS/profil-css.css" />
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <title>Votre compte</title>
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="containerInfo">
      <div class="alignement">
        <img class="photo_profil" src="/static/IMAGES/image femme.jpeg" alt="photo de profil"\>
        <div class="info">
          <div class="data">
            <h2>Nom d'utilisateur:</h2>
          </div>
          <div class="data">
            <h2>Prénom:</h2>
          </div>
          <div class="data">
            <h2>Nom:</h2>
          </div>
          <div class="data">
            <h2>Email:</h2>
          </div>
          <div class="data">
            <h2>Localisation:</h2>
          </div>
          <div class="data">
            <h2>Crédits:</h2>
          </div>
        </div>
        <div class="info">
          <div class="data">
            <div class="width_data">
              <h2>Tiranodub</h2>
            </div>
          </div>
          <div class="data">
            <div class="width_data">
              <h2>Mélanie</h2>
            </div>
          </div>
          <div class="data">
            <div class="width_data">
              <h2>Davidou</h2>
            </div>
          </div>
          <div class="data">
            <div class="width_data">
              <h2>mel.dav@gmail.com</h2>
            </div>
          </div>
          <div class="data">
            <div class="width_data">
              <h2>Rue des Grands Oiseaux</h2>
            </div>
          </div>
          <div class="data">
            <div class="width_data">
              <h2>150</h2>
            </div>
          </div>
        </div>
        <div class="info">
          <button>Modifier le profil</button> 
        </div>
      </div>
    </div>
    
    <div class="containerInfo">
      <div class="allignement">
        <p>Bonjour je suis entrepreneur</p>
      </div>
    </div>

  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
