<!doctype html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <title>Créer un compte</title>
  <link rel="stylesheet" type="text/css" href="/static/CSS/accountForm.css" />
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="container">
        <div class="form"></div>
            <div class="form login">
                <span class="title">Créer un compte</span>

                <form action="/register" method="post" >
                    <div class="input-field">
                        <input type="text" name="name" placeholder="Nom complet" required>
                        <i class="uil uil-envelope"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
                        <i class="uil uil-envelope"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" name="email" placeholder="E-mail" required>
                        <i class="uil uil-envelope"></i>
                    </div>

                    <div class="input-field">
                        <input type="text" name="localisation" placeholder="Votre localisation (ville)" required>
                        <i class="uil uil-envelope"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" placeholder="Mot de passe" required>
                        <i class="uil uil-envelope"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="confirmedPassword" placeholder="Confirmer le mot de passe" required>
                        <i class="uil uil-envelope"></i>
                    </div>
                    <div class="input-field button">
                       <!--<input type="button" value="Se connecter">-->
                        <a class="cta" href="#"><button>Confirmer</button></a>
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Vous avez déjà un compte ?
                        <a href="/login" class="text signup-text">Se connecter </a>
                    </span>
                </div>
            </div>
        </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
