<!doctype html>
<html lang="fr">
  <link rel="stylesheet" type="text/css" href="/static/CSS/vente-css.css" />
  <link rel="stylesheet" type="text/css" href="/static/CSS/accountForm.css" />
<head>
  <%- include('../partials/head'); %>
  <title>Vendre un vetement</title>
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
  
  <form action="/vente" method="post" enctype="multipart/form-data">
    <div class=container>
    <h3>Photo de l'article:</h3>
    <input type="file" id="myfile" name="image" required>
    <h3>Marque:</h3>
    <textarea name="Marque" rows="1" cols="30" required placeholder="marque de l'article"></textarea>
    <h3>Prix:</h3>
    <textarea name="Prix" rows="1" cols="30" required placeholder="prix de vente de l'article"></textarea>
    <h3>Couleur:</h3>
    <textarea name="Couleur" rows="1" cols="30" required placeholder="la couleur de l'article"></textarea>
    <h3>Matiere:</h3>
    <textarea name="Matiere" rows="1" cols="30" required placeholder="la matière de l'article"></textarea>
    <h3>Taille:</h3>
    <textarea name="Taille" rows="1" cols="30" required placeholder="la taille de l'article" ></textarea>
    <h3>Etat de l'article:</h3>
    <textarea name="Etat" rows="2" cols="30" required placeholder="ex : neuf" ></textarea>
    <h3>Votre localisation:</h3>
    <textarea name="Localisation" rows="1" cols="30" required placeholder="ex : Louvain-la-neuve" ></textarea>
    <nav> 
        <a href="#"><button>Soumettre</button></a>
    </nav>
  </div>
</form>

  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
